<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=0">
    <title>{{repo_name}}</title>
    <link rel="stylesheet" type="text/css" href="web/index.css">
    <style>a, .tint {color: {{tint_color}}} .active {color: {{tint_color}}}</style>
    <meta name="description" content="{{repo_desc}}">
    <meta property="og:title" content="{{repo_name}}">
    <meta property="og:description" content="{{repo_desc}}">
    <meta property="og:image" content="//{{repo_url}}/CydiaIcon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{repo_name}}">
    <meta name="twitter:description" content="{{repo_desc}}">
    <meta name="twitter:image" content="//{{repo_url}}/CydiaIcon.png">
    <meta name="theme-color" content="{{tint_color}}">
</head>
<body>
    <div class="body">
        <div id="header">
            <h1 class="left_float">{{repo_name}}</h1>
            <button class="right_float add_repo tint" onclick="location.href='//{{repo_url}}/add'">+</button>
        </div>
        <div class="scroll_view">
        {# Reusing things we have lol might as well do smth funny #}
        {% for a in ["Put", "as", "many", "as", "you", "want", "here"] %}
            <a href="//{{repo_url}}/" style="background: #000" class="card">
                <p>404</p>
            </a>
        {% endfor %}
        </div>

        <h2 class="title">404 - Not Found :(</h2>

        <div class="caption center footer">Aurixa v{{aurixa_version}} - Updated {{run_date}}</div>
    </div>
</body>
    <script src="web/index.js"></script>
</html>
